<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Tool</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <h3>Are you sure want to delete following tool ?</h3>
    <form action="/tool/{id}/delete" method="post">
        <!--to pass the input across the past page-->
        <input th:value="${delTool.id}" type="hidden" name="id" >
        <div class="form-group">
            <label for="toolName">Tool Name</label>
            <input type="text" th:value="${delTool.name}"  class= "form-control" name="name" id="toolName" readonly>
        </div>
        <div class="form-group">
            <label for="toolImg">Tool Image</label>
            <img id="toolImg" class="card-img-top" th:src="${delTool.imageUrl}" alt="Card image" readonly>
        </div>
        <div class="form-group">
            <label for="toolPrice">Price</label>
            <input type="text" th:value="${delTool.price}"  class= "form-control" name="name" id="toolPrice" readonly>
        </div>
        <div class="form-group">
            <label for="toolStatus">Status</label>
            <input type="text" th:value="${delTool.status}"  class= "form-control" name="name" id="toolStatus" readonly>
        </div>
        <div class="form-group">
            <label for="toolDescription">Description</label>
            <input type="text" th:value="${delTool.description}"  class= "form-control" name="name" id="toolDescription" readonly>
        </div>
        <div class="form-group">
            <label for="toolCategory">Category</label>
            <input type="text" th:value="${delTool.category}"  class= "form-control" name="name" id="toolCategory" readonly>
        </div>
        <button type="submit" class="btn btn-danger"> Delete </button>
    </form>
</main>
</body>
</html>