<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link href="/css/main.css" rel="stylesheet" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet"
              th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
    </head>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <h2>Welcome to Toolio</h2>

        <p>Toolio lets you to rent different hardware tools that are made avialable by thousands of Toolio users just like yourself.</p>
        <p> Renting tools is as easy as clicking a couple of buttons.</p>
        <p>If you want to rent out tools, you can do that too with just a click of a button.</p>
        <p>If you are already a member please sign in and maximize the benifits of our app.</p>
        <p>If you're not a member yet, please sign up to become a member and start using all the tools that our app has to offer</p>

        <!--<div th:replace="fragments/footer :: footer"></div>-->
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="/javascript/style.js"></script>
    </body>
</html>