<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="/css/main.css" rel="stylesheet" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <!--alert-->
    <div th:if="${message != null}">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong th:text="${message}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="userInfo">
                        <div th:if="${principle}">
                            <h3>Profile</h3>
                            <p>Username: <span th:text="${principle.username}"></span></p>
                            <p>Email   : <span th:text="${principle.email}"></span></p>
                            <p>Phone   : <span th:text="${principle.phoneNumber}"></span></p>
                            <p>City    : <span th:text="${principle.city}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/img/pliers.jpg">


                                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">object tool.name</span>
                                    <p>object tool.description</p>
                                </div>

                        <div th:if="${principle}">
                            <div th:if="${principle.tools}">
                                <h3>Tools</h3>
                                <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New tool</button>
                                <div th:each="tool : ${principle.tools}">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" th:src="${tool.imageUrl}" alt="Card image">
                                            <div class="card-body">
                                                <h4 class="card-title"><span th:text="${tool.name}"></span> </h4>
                                                <p class="card-text"><span th:text="${tool.description}"></span></p>
                                                <p class="card-text">Price: <span th:text="${tool.price}"></span></p>
                                                <h4 class="card-title">Status: </h4>

                                                <p class="card-text"><span th:text="${tool.status}"></span></p>
                                                <a th:href="@{'/tool/' + ${tool.id} + '/edit'}"><button class="btn btn-primary">Edit Tool</button></a>
                                                <a th:href="@{'/tool/' + ${tool.id} + '/delete'}"><button class="btn btn-danger">Delete Tool</button></a>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
                <!-- Modal content-->
                <form id ="newTool" method="POST" action="/tool/add" enctype="multipart/form-data">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Tool</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="toolName">Tool Name</label>
                        <input type="text" placeholder="Tool Name"  class= "form-control" name="name" id="toolName" required>
                    </div>
                    <div class="form-group">
                        <label for="toolImg">Tool Image</label>
                        <input type="file" placeholder="Tool Image" class= "form-control" name="file" id="toolImg" required>
                    </div>
                    <div class="form-group">
                        <label for="toolPrice">Price</label>
                        <input type="number" placeholder="$" class= "form-control" name="price" id="toolPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="toolStatus">Status</label>
                        <select class= "form-control" name="status" id="toolStatus" placeholder="Tool status" >
                            <option th:each ="state: ${status}" th:text="${state}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="toolDescription">Description</label>
                        <input type="text" placeholder="Description"  class= "form-control" name="description" id="toolDescription" required>
                    </div>
                    <div class="form-group">
                        <label for="toolCategory">Category</label>
                        <select class= "form-control" name="category" id="toolCategory" placeholder="Type of the account" >
                            <option th:each ="category: ${categories}"  th:text="${category.getCategoryName()}"></option>
                        </select>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascript/style.js"></script>
</body>
</html>